<h1>Users</h1>

<ul>
	<% @users.each do |u| %>
		<li>
		<%= image_tag u.image.url(:thumb) if u.image.url.present?%><%= u.name %>
		<button><%= link_to "View", user_path(u) %></button>
		</li>

	<%end%>

</ul>
<%= link_to "Sign Up", new_user_path %>
<%= link_to "plnLA Home", activities_path %>
