<!DOCTYPE html>
<html>
<head>
	<title>Project Two Mockup</title>
	<link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header>
		<h1>pln_LA</h1>
		<p> <em>Your source for making the most of Los Angeles</em> </p>
	</header>

	<h2>Recently Added Activities!</h2>
	<div class="row">
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
			<% @activities.each do |a| %>		 
		 			<%= image_tag a.image.url %>
					<%= a.name%> 
					<%= a.date %> 
					<%= a.location%>
		 			<%= a.headline %>

		 <p class="btn btn-primary" role="button"><%= link_to "View", activity_path(a) %></p>
		 <%end%>
		</div>
	</div>
</body>