
<!-- <h1 class="jumbotron">pln_LA</h1> -->


<div class="container-fluid">
	<div class="row">	
		<ul>
			<% @activities.each do |a| %>
			<div class="col-lg-3 col-md-6 col-sm-8">
				<div class="panel panel-success">
			 		<div id="activity-index" class="panel-body">
			 			<li>
				 			<%= image_tag a.image.url(:thumb) %>	
							<h2><%= a.name%></h2>  
				 			<h3><%= a.headline %></h3>
				 			<p><%= a.date %></p>
					 		<button type="button" class="btn btn-info"><strong><%= link_to "View", activity_path(a) %></strong></button>
					 		<!-- <button type="button" class="btn btn-link has-popover" data-toggle="popover" text-content=<%#= a.description %>> Quick View </button> -->
					 	</li>
			 		</div>
			 	</div>
			 </div>
			<%end%>
		</ul>
	</div>
</div>

</body>