<h1>show page</h1>
<p><%= @activity.name%>  <%= @activity.date %>  <%= @activity.location %> 
<%= @activity.headline %><%= @activity.description %> </p>

<%= link_to "Edit this activity", edit_activity_path %>
<p><%= link_to "Delete this Activity!", :activity, method: :delete, data:{ confirm: "Are you sure you want to delete this activity?" } %></p>
<%= link_to "Back to the list!", activities_path  %>